body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(24, 131, 176, 0.15); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.link{
  width: 50%;
}

.linkBtn{
  background-color: #1883B0;
  color: white;
  border-style: none;
}


.btn:hover{
  background-color: #1883B0 !important;
  color: white !important;
  opacity: 0.8;
}



.text-area{
  background-color: white;
  
}

.input{
 height: 25em;
 border:1px solid  gray;
 position: relative;
 display: block;
 padding: 5%;
 padding-bottom: 50%;
}

.pasteIcon{
  position: absolute;
  left: 24%;
  top: 620px;
  cursor: pointer;
  width: 100px;
}



.sumBtn{
  border-style: none;
  padding: 5px;
  background-color: #1883B0;
  color: white;
}


label{
  color: #1883B0;
  font-weight: bold;
}

.inputTwo{
  height: 25em;
  border-style: none;
  background-color: white;
  position: relative;
  padding: 3%;
}

.pasteicon{
  position: absolute;
  left: 45%;
  top: 480px;
  cursor: pointer;
  width: 100px;
}


.genBtn{
  border-style: none;
  padding: 5px;
  background-color: #1883B0;
  color: white;
}

.gen{
  color: grey;
}

.prev,.next , .dwnload{
  background-color: white;
  border-style: none;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left: 4px solid #1883B0;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 



